{% load url from future %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
<link href="{% static "ip/css/bootstrap.css" %}" type="text/css" rel="stylesheet" />
<link href="{% static "ip/prettify.css" %}" type="text/css" rel="stylesheet" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static "css/bootstrap-responsive.css" %}" rel="stylesheet">
<script type="text/javascript" src="{% static "ip/prettify.js" %}"></script>
</head>

<body onload="prettyPrint()" bgcolor="white">
<div class="row-fluid">
<div class="span12">
<!--Sidebar content-->


<pre class="prettyprint languague-css">
<code class="language-json">
{{jsonipdata}}
</code>
</pre>

</div>
</div>


</body>
</html>
