<!DOCTYPE html>
<html lang="en">
<head>
<link href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css" rel="stylesheet" />
<link href="{{ url_for('static', filename='prettify.css') }}" type="text/css" rel="stylesheet" />
<title>IP Lookup</title>
<meta name="description" content="a simple ip lookup service with bootstrap template" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="{{ url_for('static', filename='prettify.js') }}"></script>
<script src='//api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.js'></script>
<script src='{{ url_for('static', filename='jquery-1.10.2.min.js') }}'></script>
<link href='//api.tiles.mapbox.com/mapbox.js/v1.4.2/mapbox.css' rel='stylesheet' />
  
<style>
    #map {position:absolute;bottom: 0; width:100%; }

    @media only screen and (min-width: 0px) and (max-width: 480px){
    	    	#map {display:none;}
    	    	#banner {display: none;}
	}
    @media only screen and (min-width: 481px) {
    	#map {display:block;}
    	#banner {display: block;}
	}
</style>

</head>

<body onload="prettyPrint()" bgcolor="white">
<div id="banner"><a href="https://github.com/paulshi/iplookup"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_green_007200.png" alt="Fork me on GitHub"></a>
</div>
<div class="row-fluid" id="container">
<div class="span12" >
<!--Sidebar content-->


<pre class="prettyprint languague-css">
<code class="language-json">
{{ jsonipdata }}
</code>
</pre>
</div>
</div>
{% if lon %}
<div id='map'>
</div>
{% endif %}

</body>

{% if lon %}
<script type="text/javascript">
var map = L.mapbox.map('map', '{{ mapid }}')
function resizeMap()
{
	// console.log($( window ).height());
	// console.log($("#container").height());
	correctheight = $( window ).height() - $("#container").height()
 	$("#map").css("height",correctheight+"px") 
 	map.setView([{{ lon }},{{ lat }}], 12);
 	L.mapbox.markerLayer({
    // this feature is in the GeoJSON format: see geojson.org
    // for the full specification
    type: 'Feature',
    geometry: {
        type: 'Point',
        // coordinates here are in longitude, latitude order because
        // x, y is the standard for GeoJSON and many formats
        coordinates: [ {{ lat }} , {{ lon }} ]
    },
    properties: {
        // one can customize markers by adding simplestyle properties
        // http://mapbox.com/developers/simplestyle/
        'marker-size': 'large',
        'marker-color': '#f0a'
    }
	}).addTo(map);
}
$( document ).ready(function() {
	resizeMap()
});
$( window ).resize(function() {
	resizeMap()
});
</script>
{% endif %}
</html>